<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyPom</title>
    <link href="/static/css/foco-time.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='/css/foco-time.css') }}"> -->
  </head>
  <body>
    <div class="containe-geral">
      <h1 id="title">MyPom</h1>
      
      <div  id="clock" class="clock">
        <div id="time">
          20:00
        </div>
      </div>

      <div class="functions-btn">
        <button id="start-btn">Iniciar</button>
        <button id="pause-btn">Parar</button>
        <button id="finale-btn">Finalizar</button>
      </div>
      <div class="ms-foco">
        <p id="ms-foco">Foco Total Agora!</p>
      </div>
    </div>
  </body>
</html>
