<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPom - Cadastro</title>
    <link href="/static/css/login-style.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <header class="login-header">
            <h1 id="title">MyPom</h1>
            <p>Crie sua conta e comece a focar.</p>
        </header>

        <form id="register-form" class="login-form">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="full-name" name="full_name" required placeholder="Ex: email@email.com">
            </div>

            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required placeholder="Escolha um username">
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required placeholder="Mínimo 8 caracteres">
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirmar Senha</label>
                <input type="password" id="confirm-password" name="confirm_password" required placeholder="Repita a senha">
            </div>

            <button type="submit" id="btn-login">Criar Conta</button>
        </form>

        <footer class="login-footer">
            <p>Já tem uma conta? <a href="/page/login">Faça Login</a></p>
        </footer>
    </div>
    <script src="/static/js/register.js"></script>
</body>
</html>
